<h1>Stupid Coaching</h1>
<div>
  <p><%= @answer %><br> - You</p>
</div>
<div>
  <p>
    <%= @answer_coach%>
    <br>
    - Your coach
    <br>
    <%= link_to "Ask a new question", ask_path %>
  </p>
</div>
